body {
  font-family: "Poppins", sans-serif;
  background: rgba(194, 239, 79, 0.7);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 280px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 32px;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
}
main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppsercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}
h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(12, 59, 28, 0.8),
      rgba(12, 59, 28, 0.8)
    ),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
footer a {
  color: white;

  opacity: 0.7;
  margin: 0;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary-section {
  background: #f8f8f8;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: auto auto;
}
.grid,
.grid-3-columns-1-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.img-landmark {
  max-width: 100%;
  display: block;
}
.text-center {
  text-align: center;
}
.card {
  background: white;
  margin: 30px 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: rgba(194, 239, 79, 0.9);
  border-radius: 5px;
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 100px 0;
  }
  header h1 {
    font-size: 25px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 15px;
  }
  .container {
    max-width: 900px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
}
